name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: docker build -t tmp --target debug .
      - name: Check lock file
        run: docker run --rm tmp cargo check --locked
      - name: Run tests
        run: docker run --rm tmp cargo test
